Assignment

In [2]:
print("hello")

hello

hello

In [7]:
Var = 25
print(Var)

25

In [9]:
firstName = "Anurag"
lastName = " Giri"
fullname = firstName+lastName
fullname

'Anurag Giri'

In [18]:
len(fullname)
len(firstName)
len(lastName)
fir=fullname[0:7]
las=fullname[7:11]
print(fir)
print(las)
fullname[6]

Anurag
Giri

' '

In [21]:
India =['Andhra Pradesh', 'Arunachal Pradesh', 'Assam','Bihar']
for i in India:
    print(i)

Andhra Pradesh
Arunachal Pradesh
Assam
Bihar

In [4]:
#1. Create a variable `city` and assign the name of your favorite city to it. Print the variable.
city = " New Delhi"
print(city)
#2. Print the data type of the variable `city`.
print(type(city))

 New Delhi
<class 'str'>

In [6]:
#3. Convert the integer `42` to a string and assign it to a new variable. Print the new variable.
var = 42
var1 = str(var)
print(type(var1),var1)

<class 'str'> 42

In [8]:
#Use len() on your name variable and count lenght of your name
name = "Anurag"
len(name)

6

In [11]:
#use " if " statement to to check "code" word exist or not in " code square"
if "code" in " code square":
    print("yes code is in code square")

yes code is in code square

In [84]:
'''demonstrate the use of the following arithmetic operators in Python on any numbers:


Addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor Division.'''
'''Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) 
and evaluate them. Include examples with both numbers and strings.'''

a = int(input("choose no.\n"))
b = int(input("choose no.\n"))
#Addition
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b
h = a ** b
i = a // b
j=  a < b
k = a > b
l = a == b
m = a != b

list_1 = [c,d,e,f,g,h,i,j,k,l,m]
print(list_1)

choose no.
 6
choose no.
 4

[10, 2, 24, 1.5, 2, 1296, 1, False, True, False, True]

In [18]:
'''3) Create a string variable and use the ' in ' and ' not in ' keywords to check for the presence or 
absence of a substring within the string EX : " Python Is Powerfull language". & Print the results.'''

var = " Python Is Powerfull language"
stri = input('write a word to check if in or not in variable \n')
if stri in var:
     print(f'yes {stri} is in {var}')
else:
   print(f'no {stri} not in {var}')

write a word to check if in or not in variable
 anurag

no anurag not in  Python Is Powerfull language

In [21]:
# Define a list with at least three elements. Use a for loop to print each element of the list.
a = []
for i in range(3):
    b = input("enter an item")
    a.append(b)
    
for i in a:
    print(i)

enter an item anurag
enter an item 1
enter an item 3

anurag
1
3

In [29]:
# Use the range() function to print numbers from 10 to 1 using a for loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
'''Create a string variable and demonstrate the following string methods: 
slicing, negative indexing, converting to uppercase converting to lowercase, 
stripping whitespace, replacing a substring, and splitting the string.'''

name = input("enter your name \n")
print(name[0:4])
print(name[-3:-1])
print(name.upper())
print(name.lower())
print(name.strip(' '))
print(name.replace('a','g'))
print(name.split(' '))

enter your name
   Anurag  Kumar  Giri

  An
ri
  ANURAG  KUMAR  GIRI
  anurag  kumar  giri
Anurag  Kumar  Giri
  Anurgg  Kumgr  Giri
['', '', 'Anurag', '', 'Kumar', '', 'Giri', '']

In [36]:
#Create a list inside list with at least five elements of different data types. Print the list.

lis = ['a','b',['c',1,1.5,2+3j,True],'d']
for i in lis:
    print(i)

a
b
['c', 1, 1.5, (2+3j), True]
d

In [44]:
#Access and print same item from the list using both positive and negative indexing.
name = input("enter your name \n")
b = len(name)
c = input("what you want to find in the name \n")
d = name.find(c)
print(d)
e = -(b - d)
print(e)
print(name[d])
print(name[e])

enter your name
 Anurag
what you want to find in the name
 g

5
-1
g
g

In [ ]:
#Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

In [ ]:
ang = ['a','b','c','d','e','f','g']
ang.append('h')
print(ang)
ang.insert(1,'B')
print(ang)
ang.remove('b')
print(ang)
ang.pop(3)
print(ang)
del ang[4]
print(ang)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'B', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'B', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'B', 'c', 'e', 'f', 'g', 'h']
['a', 'B', 'c', 'e', 'g', 'h']

In [52]:
'''Join two lists and print the all item using for loop and also check is "data" present in list using
"if else" statement. list_1 = [ 1,2,3,4,"power", True] and list_2= ["one", "two","Three", "Data", False]'''

list_1 = [ 1,2,3,4,"power", True]
list_2= ["one", "two","Three", "Data", False]
list_3 = list_1 + list_2
for i in list_3:
    print(i)
    
if "data" in list_3:
        print("Yes")
else:
        print("no")

1
2
3
4
power
True
one
two
Three
Data
False
no

In [53]:
fruits = ('apple','orange','grapes')
red,narangi,green = fruits
print(red)
print(narangi)
print(green)

apple
orange
grapes

In [55]:
s = {1,2,3,3,3.5,"data",True}
print(s)

{1, 2, 3.5, 3, 'data'}

In [59]:
#Write an if statement to compare two variables, a and b. If b is greater than a, print a message saying "b is greater than a".

'''Write an if-else statement to compare two variables, a and b. 
If b is greater than a, print "b is greater than a". Otherwise, print "a and b are equal".'''

'''Write an if-elif-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". 
If a and b are equal, print "a and b are equal". Otherwise, print "a is greater than b".'''

for i in range(3):
        a = int(input("enter a number \n"))
        b = int(input("enter a number \n"))
        if b > a :
                print(f'{b} is greater than {a}')
        elif a == b:
              print(f'{a} and {b} are equal')
        else:
           print(f'{b} is less than {a}')

enter a number
 4
enter a number
 5

5 is greater than 4

enter a number
 5
enter a number
 5

5 and 5 are equal

enter a number
 6
enter a number
 5

5 is less than 6

In [60]:
# Create a tuple with the elements ("apple", "banana", "cherry"). Access and print the second element of the tuple.

anurag = tuple(("apple", "banana", "cherry"))
print(anurag[1])

banana

In [65]:
#Create a tuple with a single item "apple". Print the type of the tuple to confirm it's a tuple.

anurag = ('apple',)
print(type(anurag),anurag)

<class 'tuple'> ('apple',)